@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0; padding: 0;}

h1{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1170px;
    margin: 50px auto 0px auto;
    display: flex;
    justify-content: space-between;

}

.first-box{
    width: 50%;

}

.img{
    background-image: url(img/Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.img img{
    height: 100%;
}


.first-box h1 {
    color: #575757;
    font-size: 55px;
    padding-top: 90px;
    text-transform: capitalize;
}

.first-box span{
    text-transform: uppercase;
    color:#10AEFA;
}

.first-box p {
    color: #828282;
    margin: 30px 0px;
    font-size: 20px;
}

.first-box a {
    background: linear-gradient(90deg, #fb994c , tomato);
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 35px;
    color: white;
    font-family: 'Poppins';
    display: inline-block;
    font-size: 18px;
    margin-bottom: 60px;
}