@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0; padding: 0;}

h1{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1170px;
    margin: 50px auto 0px auto;
    display: flex;
    justify-content: space-between;

}

/* section 1 start */

.first-box{
    width: 50%;

}

.img{
    background-image: url(img/Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.img img{
    height: 85%;
    border-radius: 50%;
    margin-left: -6px;
}


.first-box h1 {
    color: #575757;
    font-size: 55px;
    padding-top: 90px;
    text-transform: capitalize;
}

.first-box span{
    text-transform: uppercase;
    color:#10AEFA;
}

.first-box p {
    color: #828282;
    margin: 30px 0px;
    font-size: 20px;
}

.first-box a {
    background: linear-gradient(90deg, #d048e8 , #11B1FB);
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 35px;
    color: white;
    font-family: 'Poppins';
    display: inline-block;
    font-size: 18px;
    margin-bottom: 60px;
}
/* section 1 end */


/* section 2 start */

.about-me{
    background-image: url(img/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-2 {
    width: 50%;
    height: 500px;
}

.about-info {
    width: 50%;
}

.img-2 img {
    height: 94%;
    margin: 30px 0px 0px 90px;
}

.about-info h2 {
    font-family: 'Montserrat';
    font-size: 40px;
    color: #3eb7fc;
    margin: 110px 0px 40px 0px;
}

.about-info p {
    font-family: 'Poppins';
}

.about-info a{
    background: linear-gradient(90deg, #d048e8 , #11B1FB);
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 35px;
    color: white;
    font-family: 'Poppins';
    display: inline-block;
    font-size: 18px;
    margin: 40px 0px 60px 0px;
}

/* section 2 end */

/* section 3 start */

.recipe-list{
    color: ;
}

.recipe div{
    width: 27%;
}

.recipe img{
    width: 100%;
}

.recipe-list h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    color: #3eb7fc;
}

.recipe-list p {
    width: 690px;
    text-align: center;
    margin: 20px auto;
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: #3e3e3e;
}

.recipies {
    box-shadow: 0px 0px 20px rgb(218, 217, 217);
    border-radius: 30px;
    padding: 20px;
}

.recipies img {
    border-radius: 10px;
    height: 200px;
}

.recipies h3 {
    font-family: 'Poppins';
    font-size: 25px;
    margin: 20px 0px;
    font-weight: 500;
}

.recipies p {
    width: 100%;
    margin: 0px;
    text-align: left;
    font-family: 'Poppins';
    color: #656464;
}

/* section 3 end */

/* section 4 start */

.social {
    box-shadow: 0px 0px 25px #eaeaea;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    padding: 70px 0px;
    margin-top: 120px;
}

.social-info h1 {
    font-size: 45px;
    text-align: center;
}

.social-info p {
    color: #4e4e4e;
    margin-top: 5px;
}

/* section 4 end */

/* section 5 start */


.footer{
    background-color: #0B0D17;
    margin-top: 90px;
}

.footer h1{
    color: #1cabfa;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 60px;
}

.food{
    color: #CE49E8;
}

.footer p {
    color: #d8d7d8;
    text-align: center;
    padding: 20px 0px 90px 0px;
}